<div class="right-index ml-4 overflow-auto">
  <h6 class="title mt-4">Sponsored</h6>
  <div class="row mt-3">
    <img src="assets/img/sponsor1.jpg" class="img1" width="100px" height="50px">
    <p class="advertise-text">Practice work at home</p>
  </div>
  <br>
  <div class="row">
    <img src="assets/img/sponsor1.jpg" class="img1" width="100px" height="50px">
    <p class="advertise-text ">Practice work at home</p>
  </div>
  <hr>
  <div class="row">
    <h6 class="title">Friends Request</h6>
    <span class="friends-list">See All</span>
    <div class="row">
      <div class=" mt-2">
        <img src="assets/img/sponsor1.jpg" class="rounded-circle" width="50px" height="50px">
      </div>
      <div class="ml-3">
        <p class="friend-name ">Vamshika Vishwanatham</p>
        <div class="row">
          <button type="button" class="btn btn-primary">Conform</button>
          <button type="button" class="btn delete-btn ml-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h6 class="title">Birthdays</h6>
    <div class="row">
      <div class="col-sm-1 p-0">
        <img src="assets/img/giftbox.jpg" class="" width="20px" height="20px">
      </div>
      <div class="col-sm-11 float-left ">
        <span> <span><b>Vamshika vishwanatham</b></span>'s birthday today</span>
      </div>
    </div>
  </div>
  <hr>
  <app-contacts></app-contacts>
</div>
